#ifndef ENV_H_
#define ENV_H_

/*

It is a sample file for configuration.
Make a copy of this file to name env.h
And edit your configuration value in it.

*/

// WiFi settings
#ifndef WIFI_SSID
#define WIFI_SSID       "SET YOUR WIFI SSID"
#define WIFI_PASSWORD   "SET YOUR WIFI PASSWORD"
// If you use multiple wifi points, uncomment the below lines.
//#define WIFI_SSID2      "SET YOUR ANOTHER WIFI SSID"
//#define WIFI_PASSWORD2  "SET YOUR ANOTHER WIFI PASSWORD"
#endif

// AquesTalk setting
#ifndef AQUESTALK_KEY
#define AQUESTALK_KEY   "YOUR ESP32 AQUES TOLK LICENSE KEY"
#endif

#endif  // ENV_H_
